
.venstre {
    display: flex;
    margin-top: 45vh;
    color: grey;
    text-align: right;
    margin-right: 10px;
}

.underrubrik {
    display: flex;
    color: red;
    text-transform: capitalize;
    font-weight: bold;
    gap: 10px;
}

span {
    color: lightgrey; 
    display: flex;
    font-weight: 100;
}

article {
    display: flex;
    flex-direction: column;
}

.main-p {
    color: grey;
    margin: 0 20px 10px 0;
}

h1 {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 10px;
}

#mainpic {
    width: 60vw;
    margin-bottom: 20px;
}

/* aside starter her */

.asidetitel {
    border-top: solid 2px lightgrey; width: 90%;
}

.second-art {
    border-top: solid 2px lightgrey;
    display: flex;
    flex-direction: column;
}

.second-art > p {
    margin-bottom: 10px;
}

.second-art > a:nth-child(4) {
display: flex;
justify-content: center;
width: 10%;
background-color: blue;
color: white;
padding: 10px;

}

.second-art > a:nth-child(5) {
    display: flex;
    justify-content: center;
    width: 10%;
    background-color: lightblue;
    color: white;
    padding: 10px;

}
.second-art > a:nth-child(6) {
    display: flex;
    justify-content: center;
    width: 10%;
    background-color: lightgrey;
    color: white;
    padding: 10px;
}

/* tredje section starter her */

.news {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.news > p {
    font-size: 18px;
    color: red;
    font-weight: bold;
    border-bottom: solid lightgrey 2px; width: 25%;
}

.newslist {
    display: flex;
    flex-direction: column;
}

.seneste {
    display: flex;
}